@tailwind base;
@tailwind components;
@tailwind utilities;

/* Estilo pixelado para los botones */
.pixel-button {
    box-shadow: 0 0 10px #00FF00;
    transition: all 0.3s ease; /* Transición suave para todos los cambios */
}

.pixel-button:hover {
    transform: translateY(-4px); /* Subir ligeramente el botón */
    box-shadow: 0 0 20px #00FF00; /* Sombra más intensa */
}

/* Efecto en el menú de navegación */
nav ul li a {
    font-family: 'Pixelify Sans', sans-serif;
    padding: 10px 20px;
    border: 2px solid #00FF00;
    background-color: black;
    color: #00FF00;
    text-shadow: 0px 0px 5px #00FF00;
    transition: all 0.3s ease-in-out;
}

nav ul li a:hover {
    background-color: #00FF00;
    color: black;
    border: 2px solid black;
}

/* Estilo de secciones */
.pixelify-sans-custom {
    font-family: 'Pixelify Sans', sans-serif;
    text-shadow: 0px 0px 5px #00FF00;
}

.section-title {
    font-size: 50px;
    color: #00FF00;
    text-align: center;
    text-shadow: 0px 0px 10px #00FF00;
    margin-bottom: 20px;
}

.pixel-box {
    background-color: black;
    border: 4px solid #00FF00;
    padding: 20px;
}

.pixel-test {
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

/* Cuadro de habilidades/proyectos */
.pixel-box {
    border: 2px solid #00FF00;
    background-color: black;
    color: #00FF00;
    box-shadow: 0px 0px 10px #00FF00;
    padding: 20px;
    margin: 10px 0;
}

/* Footer */
footer {
    border-top: 2px solid #00FF00;
    text-shadow: 0px 0px 5px #00FF00;
}

footer a {
    color: #00FF00;
    transition: color 0.3s;
}

footer a:hover {
    color: #fff;
}

