@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;
}
section {
    scroll-margin-top: 30px; /* Ajusta este valor según la altura de tu navbar */
}


/* Estilo personalizado de la letra */
.pixelify-sans {
    font-family: 'Pixelify Sans', sans-serif;
}

.pixel-button {
    box-shadow: 0 0 10px #00FF00;
    transition: all 0.3s ease; /* Transición suave para todos los cambios */
}

.pixel-button:hover {
    transform: translateY(-4px); /* Subir ligeramente el botón */
    box-shadow: 0 0 20px #00FF00; /* Sombra más intensa */
}

/* Efecto en el menú de navegación */
nav ul li a {
    font-family: 'Pixelify Sans', sans-serif;
    padding: 10px 20px;
    border: 2px solid #00FF00;
    background-color: black;
    color: #00FF00;
    transition: all 0.3s ease-in-out;
}

nav ul li a:hover {
    background-color: #00FF00;
    color: black;
    border: 2px solid black;
}

/* Cuadro de habilidades/proyectos */
.pixel-box {
    border: 2px solid #00FF00;
    background-color: black;
    color: #00FF00;
    box-shadow: 0 0 10px #00FF00;
    padding: 20px;
    margin: 10px 0;
}
